body 
{
  background: #3b6b20 url(/img/Minequery-Background-small.jpg) no-repeat;
  background-position: 50% 0%; 
}
.navbar-brand
{
  background: url(/img/minequery.png) rgba(0,0,0,0.1) center center no-repeat;
}