body 
{
  background: #3b6b20 url(/img/Pixelmon-Background-small.jpg) no-repeat;
  background-position: 50% 0%; 
}

.navbar-brand
{
  float:left;
  font-size:18px;
  background: url(/img/pixelmonmod.png) no-repeat;
  background-size:185px;
  width:60px;
  height:65px;
  background-position:0 11px;
  margin-left:20px;
  margin-right:12px;
}

.pixelmonmod
{
  background: url(/img/pixelmonmod.png) no-repeat;
  width: 250px;
  height: 72px;
}