@font-face {
  font-family: "sc_fontello";
  src: url("../fonts/fontello.eot");
  src: url("../fonts/fontello.eot?#iefix") format("embedded-opentype"), url("../fonts/fontello.woff") format("woff"), url("../fonts/fontello.ttf") format("truetype"), url("../fonts/fontello.svg#sc_fontello") format("svg");
  font-weight: normal;
  font-style: normal; 
}
.captcha {width:100%;}
.captcha .clr{clear:both}
.captcha .bgSlider {
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    color: #a3a3a3;
    background: #eeeeee;
    display: inline-block;
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 46px;
    padding: 0;
    -moz-border-top-left-radius: 2px;
    -moz-border-bottom-left-radius: 2px;
    -webkit-border-top-left-radius: 2px;
    -webkit-border-bottom-left-radius: 2px;
    -ms-border-top-left-radius: 2px;
    -ms-border-bottom-left-radius: 2px;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
    -moz-border-top-right-radius: 2px;
    -moz-border-bottom-right-radius: 2px;
    -webkit-border-top-right-radius: 2px;
    -webkit-border-bottom-right-radius: 2px;
    -ms-border-top-right-radius: 2px;
    -ms-border-bottom-right-radius: 2px;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.captcha span {
      display: none;
}
.captcha .bgSlider:after {
    content: attr(data-text);
    line-height: 42px;
    margin-left: 42px;
}

.captcha .bgSlider.sliding:after {
    content: '';
    line-height: 42px;
}

.captcha .Slider {
      position: absolute;
      top: 0;
      left: 0;
      cursor: move;
      width: 46px;
      height: 46px;
      background-color: #72d5ee;
      color: white;
      -moz-border-top-left-radius: 0;
      -moz-border-bottom-left-radius: 0;
      -webkit-border-top-left-radius: 0;
      -webkit-border-bottom-left-radius: 0;
      -ms-border-top-left-radius: 0;
      -ms-border-bottom-left-radius: 0;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
      -moz-border-top-right-radius: 0;
      -moz-border-bottom-right-radius: 0;
      -webkit-border-top-right-radius: 0;
      -webkit-border-bottom-right-radius: 0;
      -ms-border-top-right-radius: 0;
      -ms-border-bottom-right-radius: 0;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
}
.captcha .Slider:after {
    	position: absolute;
    	top: 11px;
    	left: 21px;
    	font-family: "sc_fontello";
    	font-size: 18px;
        content: "\e875";
        cursor: move;
}
.captcha .TxtStatus {display:none;}
