.well {  padding: 18px }

.bg {
  border-radius: 5px;
  background: #f9f9f9;
  opacity: 0.85;
  filter: alpha(opacity=85);
  padding: 15px!important;
  height: auto;
}

.white {
  color: #fff;
  text-shadow: 1px 1px black;
}

.page-header {  margin: 10px 0 10px 0 }

.page-header .pull-right {  margin: 17px 0 0 0 }

.bf {
  padding: 10px;
  background-color: #FFF;
  border: solid 1px #DDD;
  border-radius: 4px;
}

.details {
  padding: 10px;
  border: 1px solid #ddd;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

fieldset {
  padding: 0 10px;
  margin-bottom: 15px;
  background-color: #FFF;
  border: solid 1px #DDD;
  border-radius: 4px;
}

legend {
  width: auto;
  border: none;
  padding: 0;
  margin: 0;
  font-size: 100%;
}

.inline-control {  width: auto }

.server-head {
  min-height: 120px;
  padding-top: 12px!important;
  margin-bottom: 15px;
  border-radius: 5px;
  padding-left: 5px!important;
  word-wrap: break-word;
  background: #f9f9f9;
  opacity: 0.90;
  filter: alpha(opacity=90);
  /* For IE8 and earlier */
}

.server-uptime {  margin-bottom: 0 }

.preload {
  width: 30px;
  height: 30px;
}

.centered {
  position: absolute;
  left: 50%;
  top: 50%;
  margin-top: -50px;
  margin-left: -20px;
}

tr[href]:hover {  cursor: pointer }

#description {  word-wrap: break-word }

#description img {  max-width: 100% }

#server-manage {  text-align: left }

.group {  padding: 0 }

.btn.vote {  width: 100% }

.avatar {
  border-radius: 2px 2px 2px 2px;
  padding-bottom: 5px;
}

.progress.nomargin {  margin-bottom: 0 }

#onlinebutton {  margin-bottom: 5px }

#recent-voters {  text-align: center }

td.score {  width: 90px }

td.ip {
  max-width: 180px;
  word-wrap: break-word!important;
}

td.name {
  max-width: 120px;
  word-wrap: break-word!important;
}

td.score p.bg-warning.score {  text-align: left!important }

td.score .listicon {  margin-left: 10px }

td.score p {  margin: 0 }

td.uptime {  width: 95px }

.paginate {
  text-align: center;
  margin-top: -20px;
}

.banner-container {
  width: 100%;
  text-align: center;
}

.banner-code {  margin-top: 4px }

textarea.review-text {  height: 150px }

input#ip {  margin-bottom: 11px }

#login_form {  margin-top: 21px }

/* ===[ Minequery ]=== */

body {
  font-family: 'Open Sans',sans-serif;
  font-size: 14px;
  color: #515151;
  margin: 0px auto;
  background-position: top center;
  background-size: 1800px!important;
}

thead {
  background: #cecece;
  border-bottom: 1px solid #bdbdbd;
  color: #111111;
}

div#votetop {
  min-height: 50px;
  background: #2980b9 url('/img/thumbs.png') no-repeat;
  background-position: 15px;
  border-top: 5px solid #3392d0;
  z-index: 1;
}

.selector {
  font-size: 10px;
  color: lightgray;
}

#sortname {  margin-top: 5px }

div#votetop button {
  color: #fff;
  background: none;
  border: none;
}

div#votetop #sortname button {
  font-size: 16px;
  font-weight: 400;
  margin: 0;
  margin-left: 25px;
  color: #fff;
  background: none;
  border: none;
}

div#votetop h1 {
  font-size: 16px;
  font-weight: 400;
  margin: 0;
  margin-left: 50px;
  color: #fff;
  line-height: 45px;
}

div#votetop .btn-group.open .dropdown-toggle {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  border: none;
}

div#votetop .btn-group button:active {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  border: none;
}

@media (max-width: 991px) { 
    div#votetop {  background: #2980b9 }

    div#votetop #sortname button {
      float: none;
      margin-left: 0;
    }

    #sortname {  text-align: center }
}

#filter {
  text-align: right;
  margin-top: 5px;
}

#filter .btn-group {  text-align: left!important }

@media (max-width: 991px) { 
    div#filter {
      padding-bottom: 10px;
      text-align: center;
    }

    div#filter button {  margin-bottom: 5px }
}

#direction_button {
  margin-left: -14px!important;
  font-size: 9px!important;
  margin-top: 5px!important;
}

#filterbar {  display: none }

ul.multiselect-container.dropdown-menu {
  padding-top: 10px;
  padding-bottom: 15px;
}

.isiborder {
  padding: 5px;
  background: #fff;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 10px;
}

@media (max-width: 992px) { 
    #premium {  overflow-x: hidden }

    #list {  overflow-x: hidden }
}

.progress {
  /* width: 100px;;
  */ /* Keeping responsive layout */
  height: 25px;
  margin: 0;
  background: #cdcdcd;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  padding: 3px;
}

.progress-bar {
  font-weight: 400;
  font-size: 12px;
  margin: 0;
  color: #fff;
  text-align: right;
  padding-right: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  line-height: 20px;
}

.progress-bar-success {  background: #47ba7f }

.progress-bar-danger {  background-color: #d9534f }

.bg-warning {
  background-color: #cecece;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

nav {
  text-transform: uppercase!important;
  font-weight: bold;
  font-size: 13px;
  border: none!important;
}

/* nav:before,nav:after {
  content:'';
  position:absolute;
  left:50%
}
nav:before {
  margin-left:-63px;
  top:-30px;
  width:127px;
  height:127px;
  background:#252525;
  border-radius:100%;
  -webkit-border-radius:100%;
  -moz-border-radius:100%;
}
nav:after {
  margin-left:-39px;
  top:-5px;
  width:80px;
  height:80px;
  background:#fff;
  background:url('/img/nav_icon.png') no-repeat 0 0;
  border-radius:100%;
  -webkit-border-radius:100%;
  -moz-border-radius:100%;
}  */

.navbar-fixed-top,
.navbar-fixed-bottom {
  position: absolute;
  right: 0;
  left: 0;
  z-index: 1030;
}

.navbar-inverse { 
    background: rgba(0,0,0,0.7);
    text-shadow: 1px 1px rgba(0,0,0,0.5);
}

#view-content {
  background: #f8f8f8;
  padding: 15px;
  border: 1px solid #ddd;
  border-top: none;
  min-height: 425px;
}

.nav-tabs.nav-justified {
    border-bottom: 0;
    background: #8A8A8A;
}
.nav-tabs>li>a {  color: #fff }

.nav-tabs>li>a:hover {  color: #555 }

.nav-tabs>li.active>a,
.nav-tabs>li.active>a:hover,
.nav-tabs>li.active>a:focus {
  color: white;
  cursor: default;
  background-color: #5F5F5F;
  border: 0!important;
}

.nav-tabs.nav-justified>.active>a,
.nav-tabs.nav-justified>.active>a:hover,
.nav-tabs.nav-justified>.active>a:focus {  border-bottom-color: #f9f9f9 }

.nav-tabs.nav-justified>li>a {
    border-radius: 0 0 0 0;
    border: 0;
}

.container .jumbotron {
  padding-right: 0px;
  padding-left: 15px;
  background: none;
}

h6,
.h6 {  font-size: 14px }

.navbar-form .form-control {
  display: inline-block;
  width: auto;
  vertical-align: middle;
  width: 130px;
}

div#premiumtop {
  overflow: hidden;
  height: 45px;
  background: #252525 url('/img/premium.png') no-repeat;
  background-position: 15px;
  -webkit-border-top-right-radius: 10px;
  -webkit-border-top-left-radius: 10px;
  -moz-border-radius-topright: 10px;
  -moz-border-radius-topleft: 10px;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

div#premiumtop h1 {
  width: 100%;
  float: left;
  font-size: 16px;
  font-weight: 400;
  margin: 0;
  margin-left: 50px;
  color: #fff;
  line-height: 45px;
}

.container {  max-width: 960px }

#list {  background-color: #e9e9e9 }

#list td {
  line-height: 25px;
  vertical-align: middle!important;
}

/* #premium td {
  line-height: 25px;
  vertical-align: middle!important;
}

#premium h4 {
  margin-top: 0;
  margin-bottom: 0;
}

#premium img.flag {
  margin-top: -2px;
}

#premium p.bg-warning {
  text-align: center;
}

#premium div.divider {
  height: 10px;
}

#premium div.progress {
  margin-top: 10px;
}

#premium .votes {
  font-size: 11px;
  margin: 0;
  margin-top: -5px;
}

#premium td.server-info {
  word-wrap: break-word;
  max-width: 150px;
}

#premium .img-thumbnail {
  margin-bottom: -10px;
}
   ================================================== */

#list tr.premium h4 {
  margin-top: 0;
  margin-bottom: 0;
}

#list tr.premium img.flag {  margin-top: -2px }

#list tr.premium p.bg-warning {  text-align: center }

#list tr.premium div.divider {  height: 10px }

#list tr.premium div.progress {  margin-top: 10px }

#list tr.premium .img-thumbnail {  vertical-align: middle }

#list tr.premium .votes {
  font-size: 11px;
  margin: 0;
  margin-top: -5px;
}

#list tr.premium td.server-info {
  word-wrap: break-word;
  max-width: 150px;
}

.navbar-brand {
  float: left;
  width: 94px;
  height: 77px;
  /* margin-left: 20px; */
  /* margin-right: 12px; */
  /* margin-top: 12px; */
  background-size: 65%!important;
  padding: 10px;
}

@media (max-width: 767px) { 
    .navbar-brand {  background-position: 0 6px }
}

.list {  overflow-x: auto }

.navbar-nav li a {
  /*padding: 27px 15px !important;*/
  height: 75px;
  line-height: 45px;
}

.dropdown-menu>li>a {
  display: block;
  padding: 3px 20px !important;
  height: 25px !important;
  clear: both;
  font-weight: normal;
  line-height: 1.42857143;
  color: #333;
  white-space: nowrap;
}

h2#ip {  margin-top: 10px }

.label-success {  background-color: #47ba7f }

.footer-list {
  height: 37px;
  width: 100%;
  margin: auto;
  margin-top: -6px;
  background: #2980b9;
  -webkit-border-bottom-right-radius: 10px;
  -webkit-border-bottom-left-radius: 10px;
  -moz-border-radius-bottomright: 10px;
  -moz-border-radius-bottomleft: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-top: 5px solid #3392d0;
  color: #FFFFFF;
}

.f1 {
  float: left;
  font-size: 13px;
  font-weight: 400;
  margin: 0;
  color: #FFFFFF;
  line-height: 35px;
  text-align: left;
  padding-right: 25px;
  padding-left: 25px;
}

.f2 {
  float: right;
  font-size: 13px;
  font-weight: 400;
  margin: 0;
  color: #FFFFFF;
  line-height: 35px;
  text-align: right;
  padding-right: 25px;
  padding-left: 25px;
}

div#end {
  height: 65px;
  margin: auto;
  background: none;
  z-index: -1;
  position: relative;
  margin-top: 0px;
  color: #ffffff;
}

div#end2 {
  margin: auto;
  background: #252525;
  color: #ffffff;
  padding: 35px 0 30px;
}

body {  padding-bottom: 0px !important }

footer {  color: #ffffff }

.list.table-responsive {
  margin-bottom: 0;
  background: #e9e9e9;
}

.three-fourth { }

.one-half,
.one-third,
.two-third,
.one-fourth,
.three-fourth {
  float: left;
  margin-right: 20px;
}

#footer-menu ul {
  margin: 0;
  padding-left: 0px;
}

#footer-menu li {
  background: none;
  border: none;
  display: inline-block;
  list-style: none;
  margin: 0 -3px 0 0;
}

#footer-menu li a {
  border-left: 1px solid #484848;
  font-size: 12px;
  display: block;
  padding: 0 15px;
  text-transform: uppercase;
  color: #fff;
}

@media (max-width: 979px) { 
    #footer-menu {  text-align: center }
}

td.playercount {  white-space: nowrap }

@media (max-width: 999px) { 
    th.playercount {  width: 20% }

    td.playercount {  white-space: nowrap }

    td.uptime {  white-space: nowrap }
}

@media (max-width: 767px) { 
    p.bg-warning {  width: 65px }
}

.footer-list .pagination {
  border: none;
  background: none;
  display: inline-block;
  padding-left: 0;
  margin: 20px 0;
  border-radius: 0px;
}

.footer-list .pagination>li {  display: inline }

.footer-list .pagination>li>a,
.footer-list .pagination>li>span {
  border: none;
  background: none;
  position: relative;
  padding: 6px 12px;
  margin-left: -1px;
  line-height: 1.42857143;
  color: #d4d4d4;
  text-decoration: none;
  border-radius: 0px;
}

.footer-list .pagination>li:first-child>a,
.footer-list .pagination>li:first-child>span {
  border: none;
  background: none;
  border-radius: 0px;
}

.footer-list .pagination>li:last-child>a,
.footer-list .pagination>li:last-child>span {
  border: none;
  background: none;
  border-radius: 0px;
}

.footer-list .pagination>li>a:hover,
.footer-list .pagination>li>span:hover,
.footer-list .pagination>li>a:focus,
.footer-list .pagination>li>span:focus {
  border: none;
  background: none;
  color: #2a6496;
  background-color: #eee;
  border-color: #ddd;
  border-radius: 0px;
}

.footer-list .pagination>.active>a,
.footer-list .pagination>.active>span,
.footer-list .pagination>.active>a:hover,
.footer-list .pagination>.active>span:hover,
.footer-list .pagination>.active>a:focus,
.footer-list .pagination>.active>span:focus {
  border: none;
  background: none;
  z-index: 2;
  color: #fff;
  cursor: default;
  background-color: #428bca;
  border-radius: 0px;
}

.footer-list .pagination>.disabled>span,
.footer-list .pagination>.disabled>span:hover,
.footer-list .pagination>.disabled>span:focus,
.footer-list .pagination>.disabled>a,
.footer-list .pagination>.disabled>a:hover,
.footer-list .pagination>.disabled>a:focus {
  border: none;
  background: none;
  color: #999;
  cursor: not-allowed;
  border-color: #ddd;
  border-radius: 0px;
}

.footer-list .pagination-lg>li>a,
.footer-list .pagination-lg>li>span {
  border: none;
  background: none;
  padding: 10px 16px;
  font-size: 18px;
  border-radius: 0px;
}

.footer-list .pagination-lg>li:first-child>a,
.footer-list .pagination-lg>li:first-child>span {
  border: none;
  background: none;
}

.footer-list .pagination-lg>li:last-child>a,
.footer-list .pagination-lg>li:last-child>span {
  border: none;
  background: none;
  border-radius: 0px;
}

.footer-list .pagination-sm>li>a,
.footer-list .pagination-sm>li>span {
  padding: 5px 10px;
  font-size: 12px;
  border-radius: 0px;
}

.pagination-sm>li:first-child>a,
.pagination-sm>li:first-child>span {
  border: none;
  background: none;
  border-radius: 0px;
}

.footer-list .pagination-sm>li:last-child>a,
.footer-list .pagination-sm>li:last-child>span {
  border: none;
  background: none;
  border-radius: 0px;
}

html {  background: #252525 }

table.sidebar {  background: #e9e9e9 }

tr.sidebar {
  /* height: 50px; */
  background: #2980b9;
  background-position: 15px;
  border-top: 5px solid #3392d0;
  /* margin-top: -6px; */
  /* overflow: hidden; */
  color: white;
}

#h-preload {
  text-align: center;
  line-height: 25px;
  display: none;
}

#h-preload img {  height: 8px }

div.button-addserver a {
  line-height: 65px;
  color: #fff;
  background: #f26c4f url('/img/addserver.png') no-repeat;
  background-position: 18px;
  padding-left: 60px;
  padding-right: 20px;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

div.button-getpremium a {
  line-height: 65px;
  color: #fff;
  background: #32bfea url('/img/premiumb.png') no-repeat;
  background-position: 18px;
  height: 65px;
  padding-left: 60px;
  padding-right: 20px;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.clear {
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}

@media (min-width: 992px) { 
    div.button-addserver a,
    div.button-getpremium a {
      float: right;
      margin-top: 33px;
    }
}

@media (max-width: 992px) { 
    div.button-addserver a,
    div.button-getpremium a {
      margin-top: -33px;
      margin-bottom: 15px;
    }

    div.button-addserver,
    div.button-getpremium {  text-align: center!important }
}

div.toprotator {
  margin: 0 auto;
  margin-top: -23px;
}

@media (min-width: 992px) { 
    div.toprotator {  padding-right: 30px }
}

div.toprotator a {
  margin: 0;
  padding: 0;
}

div.toprotator img {
  -webkit-border-radius: 0px 0px 15px 15px;
  border-radius: 0px 0px 15px 15px;
  margin-bottom: 20px;
  z-index: 100000;
  border: 5px solid rgba(0,0,0,0.7);
  border-top: 0;
  margin-left: auto;
  margin-right: auto;
  display: inline-block;
}

div.toprotator,
div.bottomrotator {  max-width: 478px }

div.bottomrotator,
div.bottomad {
  background: #222;
  border: none;
}

div.bottomrotator img {  border-radius: 4px }

.isiborder .img-thumbnail {  max-width: 468px }

.isiborder .ad .img-thumbnail {  max-width: 100%!important }

#end2 p {  color: darkgray }

div.ad {
  text-align: center;
  margin-bottom: 10px;
}

div.ad div.img-thumbnail {  padding-bottom: 0 }

div.inline-ad {
  padding-top: 20px;
  padding-bottom: 20px;
  border-top: 1px solid #ddd;
  background: #f2dede;
}

div.premiumkeywords {  margin-top: -15px }
div.server:hover {
  color: lightgray;
  cursor: pointer;
  cursor: hand;
}

div.server {
  width: 920px;
  height: auto;
  color: white;
  word-wrap: break-word;
  word-break: break-all;
  margin-bottom: 3px;
  overflow: hidden;
  font-size: 12px;
}

div.server div.keywords {
  height: 25px;
  background: #4F4E4E;
  overflow-x: auto;
  overflow-y: hidden;
  padding-right: 15px;
  font-size: 11px;
}

div.server div.keywords:hover {
  overflow: visible;
  text-align: center;
}
div.server div.keywords div.keyword {
  padding-left: 7px;
  padding-right: 7px;
  height: 25px;
  line-height: 25px;
  background: #4F4E4E;
  float: left;
}
div.server div.keywords div.keyword:nth-child(odd) {  background: #8A8A8A }

div.server div.info div.description,
div.server div.info div.banner,
div.server div.info div.data {
  display: block;
  margin: 0;
  height: 60px;
  float: left;
}

div.server div.info div.description {
  background: #D8D8D8;
  width: 226px;
}

div.server div.info div.description div.favicon {
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  float: left;
  width: 50px;
}

div.server div.info div.description div.favicon img {  height: 40px }

div.server div.info div.description div.intro {
  width: 176px;
  float: right;
  color: gray;
  font-size: 9px;
  line-height: 60px;
  text-overflow: ellipsis;
  padding-left: 10px;
  padding-right: 10px;
  word-break: normal;
}

div.server div.info div.description div.intro span {
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
}

div.server div.info div.banner {  width: 468px }

div.server div.info div.data {
  background: #5F5F5F;
  width: 226px;
}

div.server div.info div.data>div {
  line-height: 30px;
  height: 30px;
  width: 50%;
  text-align: right;
  padding-right: 10px;
}

div.server div.info div.data div.light {  background: #8A8A8A }

div.server div.info div.data div.left {  float: left }

div.server div.info div.data div.right {  float: right }

div.server div.info div.data span.glyphicon {
  line-height: 30px;
  float: left;
  padding-left: 10px;
}

div.server div.info div.data > div.players,
div.server div.info div.data > div.uptime {
  padding: 0;
  text-align: center;
}

div.server div.info div.data > div.uptime div.slider.good {  background: #47BA7F }

div.server div.info div.data > div.uptime div.slider.warning {  background: #c4ac10 }

div.server div.info div.data > div.uptime div.slider.bad {  background: #d9534f }

/* IE doesn't support this, so we take a more oldschool approach
      div.server div.info div.data>div:nth-child(odd) {
          float: left;
      }
      
      div.server div.info div.data>div:nth-child(even) {
          float: right;
      }
   ================================================== */

div.server div.general {
  display: block;
  margin-top: 60px;
  height: 25px;
  background: #2980B9;
  line-height: 25px;
}

div.server.premium div.general {  background: #BD8E02 }

div.server div.general div {
  display: inline-block;
  float: left;
  padding-left: 10px;
  padding-right: 10px;
}

div.server div.general div.ranking {
  padding: 0;
  width: 226px;
}

div.server div.general div.name {
  max-width: 188px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

div.server div.general div.connection {
  padding: 0;
  width: 432px;
}

div.server div.general div.light {  background: #3392D0 }

div.server.premium div.general div.light {  background: #C2AA63 }

div.server div.general div.connection div.status {
  padding: 0;
  text-align: center;
  width: 70px;
}

div.server div.general div.connection div.status.online {  background: #47BA7F }

div.server div.general div.connection div.status.offline {  background: #d9534f }

div.server div.general div.country {
  padding-left: 10px;
  padding-right: 10px;
}

div.server div.general div.country img {  margin-top: -2px }

div.server div.general div.premium {
  width: 113px;
  background: #C2AA63;
  text-align: center;
  padding: 0;
  float: right;
}

div.server div.general div.premium span.glyphicon {
  line-height: 25px;
  float: left;
  padding-left: 10px;
}
@media (min-width: 522px) and (max-width: 991px) { 
    div.server div.info div.description {
        display: none;
    }
    
    div.server div.info div.data {
        margin-left: -710px;
        width: 242px;
    }
    
    div.server div.info div.banner {
        margin-left: 242px;
    }
    
    div.server div.general div.ranking {
        width: 242px;
    }
    
    div.server div.keywords {
        width: 710px;
    }
}

@media (min-width: 522px) { 
    .server-visible-small {  display: none }
}

@media (max-width: 523px) { 
    .server-visible-small {  display: block }

    div.server {
      width: 100%;
      overflow: visible;
    }

    div.server div.info div.data {  width: 100% }

    div.server div.general div.country {
      margin-top: -25px;
      float: right;
    }

    div.server div.general div.ranking {
      background: #2980B9;
      margin-top: -85px;
      width: 100%;
    }

    div.server div.general div.connection {
      background: #2980B9;
      width: 100%;
    }

    div.server.premium div.general div.ranking,
    div.server.premium div.general div.connection {  background: #BD8E02 }

    div.server div.info {  overflow: hidden }

    div.server div.general {  margin-top: -60px }

    div.server div.connection {  margin-top: 35px }

    div.server div.general div.premium {  display: none }

    div.server div.keywords {  display: none }

    div.server div.info div.description {  display: none }
}

.beforelist {
  width: 100%;
  height: 40px;
  line-height: 40px;
  background: #252525;
  color: white;
  text-align: center;
  font-weight: bold;
  border-bottom: 1px solid lightgray;
  border-top: 1px solid lightgray;
  margin-bottom: 3px;
  font-weight: normal;
}

#premium {  background: #e9e9e9 }

    div.server-top {
        width: 100%;
        color: white;
        border-bottom: 3px solid darkgray;
    }
    
    div.server-top div.top, div.server-top div.top div {
        height: 55px;
    }
    
    div.server-top div.top div.favicon {
        width: 55px;
        float: left;
        text-align: center;
        padding-top: 7px;
    }
    
    div.server-top div.top div.favicon img {
        width: 40px;
    }
    
    div.server-top div.top div.ip {
        line-height: 55px;
        font-size: 20px;
        word-wrap: break-word;
        word-break: break-all;
        padding-left: 25px;
        overflow: hidden;
    }
    
    div.server-top div.bottom {
        min-height: 30px;
    }
    
    div.server-top div.top div.favicon {
        border-top-left-radius: 6px;
    }
    div.server-top div.top div.ip {
        border-top-right-radius: 6px;    
    }
    div.server-side div.head {
        overflow: hidden;
        border-radius: 6px 6px 0 0;    
    }
    div.server-side div.footer {
        overflow: hidden;
        border-radius: 0 0 6px 6px;    
    }
    #view-content {
        border-radius: 0px 0px 6px 6px;
    }
    
    div.server-top div.bottom div.status {
        float: left;
        min-height: 30px;
        width: 55px;
        font-size: 11px;
        line-height: 30px;
        text-align: center;
        margin-right: 25px;
    }
    
    div.server-top div.bottom div.status.online {
        background: #47BA7F;
    }
    
    div.server-top div.bottom div.status.offline {
        background: #d9534f;
    }
    
    div.server-top div.bottom div.motd {
        line-height: 30px;
        font-size: 11px;
        word-wrap: break-word;
        word-break: break-all;
        padding-left: 80px;
        padding-right: 80px;
    }
    
    div.server-top div.bottom div.button {
        float: right;   
    }
    
    div.server-top div.bottom div.button button {
        border-radius: 0;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        border: 0;
        height: 30px;
    }
    
    div.server-top div.top div.ip {
        background: #2980B9;
    }
    
    div.server-top div.bottom div.motd, div.server-top div.top div.favicon {
        background: #3392D0;
    }
    
    div.server-top.premium div.top div.ip {
        background: #BD8E02;
    }
    
    div.server-top.premium div.bottom div.motd, div.server-top.premium div.top div.favicon {
        background: #C2AA63;
    }
    
    .dropdown-menu {
        border-radius: 0;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        margin-top: 0;
    }
    
    div.server-side {
    width: 100%;
}

div.server-side div.head, div.footer {
    background: #2980B9;
}

div.server-side div.light {
    background: #3392D0;
}

div.server-side.premium div.head, div.server-side.premium div.footer {
    background: #BD8E02;
}

div.server-side.premium div.light {
    background: #C2AA63;
}

div.server-side div.head {
    height: 25px;
}

div.server-side div.head {
    line-height: 25px;
    color: white;
}

div.server-side div.head div.is-premium {
    float: left;
    width: 30px;
    text-align: center;
}

div.server-side div.head div.name {
    text-align: center;
}

div.server-side.premium div.head div.name {
    overflow: hidden;
}
div.server-side.premium div.head div.name p {
    margin-left: -30px; 
}

div.server-side div.body div {
    height: 30px;
    background: #5F5F5F;
    color: white;
    line-height: 30px;
    text-align: left;
}

div.server-side div.body div:nth-child(odd) {  background: #8A8A8A } 

div.server-side div.body div.uptime div.uptime {
  padding: 0;
  text-align: center;
}

div.server-side div.body div.uptime div.slider.good {  background: #47BA7F }

div.server-side div.body div.uptime div.slider.warning {  background: #c4ac10 }

div.server-side div.body div.uptime div.slider.bad {  background: #d9534f }

div.server-side div.body span.glyphicon,  div.server-side div.body span.fa{
  line-height: 30px;
  float: left;
  padding-left: 10px;
  margin-right: 15px;
}

div.server-side div.footer {
    height: 25px;
}

div.server-side div.footer div.country {
    width: 36px;
    height: 25px;
    float: right;
    line-height: 25px;
    padding-left: 10px;
    padding-right: 10px;
}

div.server-side div.footer div.country img {
    margin-top: -2px;
}

div.server-side div.body div.votes a.btn {
    height: 30px;
    border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    line-height: 28px;
}

.server-preload {
    height: 436.5px;
    border: 1px solid rgb(221, 221, 221);
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;
    background: rgb(248, 248, 248);
}

@media (min-width: 992px) {
    .sidebar.col-md-3 {
        width: 20%;
        padding: 0;
        padding-right: 20px;
    }
    .main.col-md-9 {
        width: 80%;
        padding: 0;
    }
}

.form-control {
    border-radius: 0;
}

.img-thumbnail {
    border-radius: 0;
}

.btn {
    border-radius: 2px;
}

body {
    overflow-x:  hidden;
}

div.server-side div.social {
    float:  left;
    line-height:  30px;
    margin-left: 7px;
    margin-left:0px;
}

div.server-side div.social #___plusone_0 {
    
    width: 36px!important;
    text-align: center;
}

div.premiumbanner {
    width: 100%;
    background: #252525;
    color: white;
    text-align: left;
    font-weight: bold;
    border-bottom: 1px solid lightgray;
    border-top: 1px solid lightgray;
    margin-bottom: 3px;
    font-weight: normal;
    margin-top: 9px;
}

.dropdown-menu {
    text-shadow:  none;
}

.center {
    text-align: center;
}